{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>ShellyActionRouter</title>
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" href="/assets/images/icon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
		<link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="/assets/js/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
		.update {
			color: green !important;
		}
		span.badge {
			cursor: pointer;
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
			  <a class="navbar-brand" href="/"><img src="/assets/images/shelly_logo.png" class="d-inline-block align-top" alt="">ActionRouter</a>
			  <form class="form-inline">
				<a class="btn btn-success btn-sm my-2 my-sm-0" href="/url/add">Add URL</a>
			  </form>
			</div>
		</nav>
	<div class="container">
		<br>
{{ end }}