{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>ShellyActionRouter</title>
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" href="/assets/images/icon.png">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">	
		<link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/jquery-ui.css">
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js" ></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
		.update {
			color: green !important;
		}
		span.badge {
			cursor: pointer;
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
			  <a class="navbar-brand" href="/"><img src="/assets/images/shelly_logo.png" class="d-inline-block align-top" alt="">ActionRouter</a>
			  <form class="form-inline">
				<a class="btn btn-success btn-sm my-2 my-sm-0" href="/url/add">Add URL</a>
			  </form>
			</div>
		</nav>
	<div class="container">
		<br>
{{ end }}